
<app-navbar-inicio></app-navbar-inicio>

<section id="marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-1">
        <h2 style="text-align: center;">Seu marketing imobiliário em uma ferramenta moderna e de fácil gestão</h2>
        <p align="center" style="padding-top: 10px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_CS7tltyW7I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="funciona" class="bg-light" style="padding-top: 20px;">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mb-2">
        <h2>Como funciona?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-80">
          <div class="card-body">
            <h5 class="card-title">1 – Dados Cadastrais</h5>
            <p class="card-text">Envie em nosso e-mail os dados de sua imobiliária, corretores, logotipo, foto profissional e nossa equipe fará o cadastro e tratamento.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-80">
          <div class="card-body">
            <h5 class="card-title">2 - Escolha um Criativo</h5>
            <p class="card-text">São mais de 500 criativos para você escolher, personalizar e baixar em formato PNG e/ou PDF.<br></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-80">
          <div class="card-body">
            <h5 class="card-title">3 – Em segundos a Market Imobi vai gerar seu criativo</h5>
            <p class="card-text">É só clicar em "gerar" que seu criativo personalizado será baixado automaticamente.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-80">
          <div class="card-body">
            <h5 class="card-title">4 – Downloads Ilimitados</h5>
            <p class="card-text">São centenas de criativos para você gerar e postar quantas vezes quiser. Sem limites mensais de downloads.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="solucoes" style="padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2>Marketing Imobiliário</h2>
        <strong>
          A plataforma Market Imobi é o que sua imobiliária precisa.
          Foi desenvolvida para você mesmo fazer suas postagens de forma profissional, gerando aos seus clientes credibilidade e profissionalismo, tanto de sua imobiliária como a de seus corretores.
        </strong>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Ganhe tempo!</h5>
            <p class="card-text">Cuide de seu marketing imobiliário de forma tranquila, destinando seu precioso tempo em gerenciamento, atendimentos aos clientes, angariações e treinamentos para sua equipe de corretores.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Campanhas modernas, específicas e sazonais</h5>
            <p class="card-text">Criativos atualizados periodicamente, materiais específicos para suas campanhas diárias, mensais e anuais.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Sua Imagem de Forma Profissional</h5>
            <p class="card-text">Chega de amadorismo ao anunciar. Gere credibilidade de sua imobiliária e de seus corretores através de comunicação visual profissional na internet, em redes sociais e mídia off-line.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Dispensa conhecimento ou programas complicados de operar</h5>
            <p class="card-text">Plataforma intuitiva, não há necessidade de cursos, softwares ou conhecimento técnico em marketing.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="utilizar" class="bg-light" style="padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h2 style="text-align: center;">Veja como é fácil utilizar a plataforma Market Imobi !</h2>
        <p align="center" style="padding-top: 10px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/snXsUBUQdPw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <div class="text-white contato">contato@marketimobi.com.br</div>
    <div class="text-white cnpj">CNPJ: 39.753.738/0001-65</div>
    <div class="text-white copyright">Copyright &copy; Market Imobi</div>
  </div>
</footer>
