<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g-11">
      <div class="ui-g-12">
        <h2>{{ editando ? 'Edição de' : 'Nova' }} Imobiliária</h2>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" required minlength="3" maxlength="50"
          formControlName="nome">

        <app-message [control]="formulario.get('nome')" error="required"
          text="Informe o nome"></app-message>
          <app-message [control]="formulario.get('nome')" error="minlength"
          text="Mínimo de {{ formulario.get('nome').errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Razão Social</label>
        <input pInputText type="text" name="razaoSocial" maxlength="50"
          formControlName="razaoSocial">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label style="display: block">Status</label>
        <p-dropdown [options]="status" name="status"
          formControlName="status"
          [disabled]="!auth.temPermissao('ROLE_ADMINISTRADOR')"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone Fixo</label>

        <p-inputMask name="telefoneFixo" formControlName="telefoneFixo"
          mask="(99) 9999-9999"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone Celular</label>

        <p-inputMask name="telefoneCelular" formControlName="telefoneCelular"
          mask="(99) 99999-999?9"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Site</label>
        <input pInputText type="text" name="site" maxlength="50"
          formControlName="site">
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>E-mail</label>
        <input pInputText type="email" name="email" maxlength="50"
          formControlName="email" email>

        <app-message [control]="formulario.get('email')" error="email" text="Informe um e-mail válido"></app-message>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro" maxlength="50"
          formControlName="logradouro">
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" maxlength="30"
          formControlName="complemento">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro" maxlength="30"
          formControlName="bairro">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>CEP</label>
        <p-inputMask name="cep" mask="99.999-999"
          formControlName="cep"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label style="display: block">Estado</label>
        <p-dropdown [options]="estados" name="estado" formControlName="estado"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text" name="cidade" maxlength="30"
          formControlName="cidade">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>CNPJ</label>
        <p-inputMask name="cnpj" mask="99.999.999/9999-99"
          formControlName="cnpj"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>CRECI</label>
        <input pInputText type="text" name="creci" maxlength="20"
          formControlName="creci">
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid"
        *ngIf="!formulario.get('imagem1').value">
        <label>Imagem 1</label>
        <p-fileUpload name="arquivo" mode="basic" auto="true" maxFileSize="5000000"
          chooseLabel="Imagem 1" accept="image/*"
          [url]="urlUploadImagem"
          (onBeforeSend)="antesUploadImagem($event, 1)"
          (onUpload)="aoTerminarUploadImagem($event, 1)"
          (onError)="erroUpload($event, 1)"
          [hidden]="uploadEmAndamento1"></p-fileUpload>

          <p-progressSpinner [hidden]="!uploadEmAndamento1"
            [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid" dir="rtl"
        *ngIf="formulario.get('imagem1').value">
        <label>Imagem 1</label>
        <button pButton type="button" class="ui-button-danger"
          icon="fa fa-close" pTooltip="Remover Imagem 1" tooltipPosition="top"
          (click)="removerImagem(1)"></button>

        <a target="_blank" pTooltip="Baixar Imagem 1" tooltipPosition="top"
          [href]="formulario.get('urlImagem1').value">{{ nomeImagem(1) }}</a>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid"
        *ngIf="formulario.get('imagem1').value">
        <img src="{{formulario.get('urlImagem1').value}}">
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid"
        *ngIf="!formulario.get('imagem2').value">
        <label>Imagem 2</label>
        <p-fileUpload name="arquivo" mode="basic" auto="true" maxFileSize="5000000"
          chooseLabel="Imagem 2" accept="image/*"
          [url]="urlUploadImagem"
          (onBeforeSend)="antesUploadImagem($event, 2)"
          (onUpload)="aoTerminarUploadImagem($event, 2)"
          (onError)="erroUpload($event, 2)"
          [hidden]="uploadEmAndamento2"></p-fileUpload>

          <p-progressSpinner [hidden]="!uploadEmAndamento2"
            [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid" dir="rtl"
        *ngIf="formulario.get('imagem2').value">
        <label>Imagem 2</label>
        <button pButton type="button" class="ui-button-danger"
          icon="fa fa-close" pTooltip="Remover Imagem 2" tooltipPosition="top"
          (click)="removerImagem(2)"></button>

        <a target="_blank" pTooltip="Baixar Imagem 2" tooltipPosition="top"
          [href]="formulario.get('urlImagem2').value">{{ nomeImagem(2) }}</a>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid"
        *ngIf="formulario.get('imagem2').value">
        <img src="{{formulario.get('urlImagem2').value}}">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="nova()"></button>
        <a routerLink="/imobiliarias" *ngIf="auth.temPermissao('ROLE_ADMINISTRADOR')">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
