<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h2>Downloads efetuados</h2>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label style="display: block">Data inicial</label>
        <p-calendar dateFormat="dd/mm/yy" [locale]="ptBR" [inputStyle]="{ width: '95px' }"
          name="dataInicial" required [(ngModel)]="filtro.dataInicial"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label style="display: block">Data Final</label>
        <p-calendar dateFormat="dd/mm/yy" [locale]="ptBR" [inputStyle]="{ width: '95px' }"
          name="dataFinal" required [(ngModel)]="filtro.dataFinal"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label style="display: block">Imobiliária</label>
        <p-dropdown [options]="imobiliarias" name="imobiliaria" [(ngModel)]="filtro.imobiliaria"
          [autoWidth]="false" [filter]="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label style="display: block">Usuário</label>
        <p-dropdown [options]="usuarios" name="usuario" [(ngModel)]="filtro.usuario"
          [autoWidth]="false" [filter]="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label style="display: block">Produto</label>
        <p-dropdown [options]="produtos" name="produto" [(ngModel)]="filtro.produto"
          [autoWidth]="false" [filter]="true"></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-11">

      <p-table [value]="lancamentos" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%;">Imobiliária</th>
            <th style="width: 20%;">Usuário</th>
            <th style="width: 30%;">Produto</th>
            <th class="col-data-header">Data</th>
            <th>Hora</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.imobiliaria.nome }}</td>
            <td>{{ lancamento.usuario.nome }}</td>
            <td>{{ lancamento.produto.codigo + ' - ' + lancamento.produto.nome }}</td>
            <td class="col-data">{{ lancamento.data | date:'dd/MM/yyyy' }}</td>
            <td>{{ lancamento.hora }}</td>
            <td class="col-acoes">
              <button pButton icon="fa fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(lancamento)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento de download encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </div>

</div>
